# Hugging Face / API secrets
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db